header {
    margin-top: 50pxem;
}

h1 {
    font-size: 80px;
}

body {
    text-align: center;
}

#container{
    margin: auto;
    width: 60%;
}

.options {
    height: 100px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

#cipher {
    margin-top: 50px;
}

#decipher {
    margin-top: 20px;
}

#encodeBtn, #decodeBtn {
    font-size: 20px;
    padding: 15px;

}

